<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <style>
        .clr{
            width: 300px;
            height: 300px;
            background-color:#000;
        }
        .clr2{
            width: 500px;
            height: 500px;
            background-color:#f00!important;
        }
        .floatLeft{
            float:left;
        }
    </style>
</head>
<body>
    <div id="box">
        <input type="number" v-model="w" />
        <input type="number" v-model="h" />
        <input type="range" min="0" max="255" step="1" v-model="r" />
        <input type="range" min="0" max="255" step="1" v-model="g" />
        <input type="range" min="0" max="255" step="1" v-model="b" />
        <div :class="{'clr2':false,'floatLeft':true}"
         :style="{'background-color':color,
        width:w+'px',
        height:h+'px'}"></div>
    </div>
    <script>
        new Vue({
            el:"#box",
            data:{
                r:0,
                g:0,
                b:0,
                w:300,
                h:300,
                className:'clr2',
                className2:'floatLeft'
            },
            computed:{
                color(){
                    return `rgb(${this.r},${this.g},${this.b})`
                }
            }
        })
    </script>
</body>
</html>
