<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="./js/vue.js"></script>
	<style type="text/css">
		.on{
			
			width: 100px;
			height: 100px;
			border: 1px solid;
		}
		.two{
			background: green;
			width: 100px;
			height: 100px;
		}
		.three{
			background: blue;
			width: 100px;
			height: 100px;
		}
	</style>
</head>
<body>
	<div id="box">
		<button >切换</button>
		<hezhi></hezhi>
		
	</div>

	<script type="text/javascript">

		var hezhi = {
			data(){
				return{
					list:[
						{title:"red"},
						{title:"green"},
						{title:"blue"}
					],
					pev:0
				}
			},
			methods:{
				ck(index){
					for (var i = 0; i < list.length; i++) {
							if (i===0) {
								this.pev =index+1;
							}else if (i===1) {
								this.pev = index+2;
							}else {
								this.pev = index;
							}
					}
				}
			},
			template: `	<div v-for="(item,index) in list" @click="ck(index)">
							<div class="one" v-model="pev" style="background: {{item.title}}"></div>
						</div>`
		}
		new Vue({
			el:"#box"
			
		});
	</script>
</body>
</html>